+++
title = "MFT-convert"
linkTitle = "MFT-convert"

+++

{{< blocks/cover title="Converted documentation for MFT products" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Axway/axway-open-docs">
		Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">You can now contribute to the documentation directly!</p>
		{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead %}}
This website makes it easy for you to contribute directly to the user documentation for MFT products.

Help us to improve the documentation for our customers!

#BetterTogether
{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">MFT products</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section  color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="API Gateway" url="/docs/TransferCFT/concepts/" %}}
CFT (add in intro here). 
{{% /blocks/feature %}}



{{< /blocks/section >}}
