+++
title = "Axway-Open-Docs"
linkTitle = "Axway-Open-Docs"

+++

{{< blocks/cover title="Documentation for Amplify API Management" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Axway/axway-open-docs">
		Repository <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">You can now contribute to the documentation directly!</p>
		{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead %}}
This website makes it easy for you to contribute directly to the user documentation for Amplify API Management.

Help us to improve the documentation for our customers!

#BetterTogether
{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Amplify API Management</h1>
</div>
{{< /blocks/section >}}

{{< blocks/section  color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="API Gateway" url="/docs/api_mgmt_overview/api_mgmt_components/apigateway/" %}}
API Gateway manages, delivers, and secures enterprise APIs, applications, and consumers. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="API Manager" url="/docs/apim_administration/apimgr_admin/api_mgmt_workflow/" %}}
API Manager is a web-based API administration and management tool layered on API Gateway.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="API Portal" url="/docs/apim_administration/apiportal_admin/apip_overview/" %}}
API Portal is a self-service developer portal layered on both API Manager and API Gateway.
{{% /blocks/feature %}}

{{< /blocks/section >}}
